[Unit]
Description=Smart Reverse SSH Tunnel Service
After=network-online.target

[Service]
ExecStart=/home/localuser/scripts/smart_reverse_tunnel.sh
#User=localuser #Uncomment when run systemd as a root user
Restart=on-failure
RestartSec=60s
#StartLimitBurst=5
#StartLimitInterval=10min
SuccessExitStatus=0 143
RestartPreventExitStatus=
RestartForceExitStatus=255

[Install]
WantedBy=multi-user.target

